PORT = 5000
MONGODB_URL = mongodb+srv://shaukeenkhan:<db_password>@cluster0.oqtfn.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET = write log string ATS
ACCESS_TOKEN_EXPIRY= 1d 
REFRESH_TOKEN_SECRET = write log string RTS
REFRESH_TOKEN_EXPIRY = 10d

CLOUDINARY_CLOUD_NAME = your cloud name
CLOUDINARY_API_KEY = your API key
CLOUDINARY_API_SECRET = your API Secret